<nav class="navbar navbar-expand-lg navbar-light bg-light">
<ul  class="navbar-nav mr-auto" id = "menu">
    <li class="nav-item active">inicio</li>
    <li class="nav-item active">informacion</li>
    <li class="nav-item active">contacto</li>
    <li class="nav-item active">ayuda</li>
</ul>
</nav>
    <style>
        /*
        body {
            margin-left: 0;
        }
        #menu {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            border: 1px solid red;
        }
        #menu li {
            display: inline;
            margin: 0 20px;
            color: lightseagreen;
            border: 1px solid red;
            padding: 0 10px;

        }*/
    </style>

primer numero:
3 cifras y 65 unidades
----------------------
9:centenas: 900 unidades
10:decenas: 100 unidades 
65:unidades: 65 unidades

segundo numero:
3 cifras y 15 decenas
---------------------
3:centenas:300 unidades
15:decenas: 150 unidades
57:unidades: 57 unidades

Resultado: 1065+507 = 1572